@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --black: #2c2c54;
  --orange: #ef7b0b;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--black);
  padding: 1rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--orange);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  cursor: pointer;
  background: #fff;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  color: var(--black);
}

header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons a {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--orange);
}

#menu-bar {
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid var(--black);
  color: var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  position: relative;
}

.home .slide-container .slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: 9rem;
}

.home .slide-container .slide .content {
  flex: 1 1 40rem;
  animation: slideContent 0.5s linear 0.5s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

.home .slide-container .slide .image {
  flex: 1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}


@keyframes equipment {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}

@keyframes equipmentText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.home .slide-container .slide .content span {
  font-size: 2rem;
  color: var(--orange);
}

.home .slide-container .slide .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.home .slide-container .slide .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 0.5rem 0;
  text-transform: none;
}

.home .slide-container {
  display: none;
}

.home .slide-container.active {
  display: block;
}

.home .slide-container .slide .image .equipment {
  width: 100%;
  animation: equipment 0.3s linear;
}


.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.products .box-container .box .content {
  padding: 1.5rem;
}

.products .box-container .box img {
  height: 15rem;
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
  margin: 8rem 2rem;
}

.products .box-container .box #img6{
  height: 20rem;
}
.products .box-container .box .icons {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: -10rem;
}

.products .box-container .box:hover .icons {
  left: 1rem;
}

.products .box-container .box .icons a {
  height: 3.5rem;
  width: 4rem;
  line-height: 3.5rem;
  font-size: 1.4rem;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
}

.products .box-container .box .icons a:hover {
  background: var(--orange);
  color: #fff;
}

.products .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.products .box-container .box .content .price {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.products .box-container .box .content .price span {
  color: var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box-container .box .content .stars {
  padding-bottom: 1rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}


.footer .box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box-container .box a {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--orange);
}

.footer .box-container .credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}

.footer .box-container .credit span {
  color: var(--orange);
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  header .navbar.active {
    left: 0;
  }

  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
    text-align: center;
  }

  .home .slide-container .slide .image .text {
    width: 60%;
  }

  .home #prev,
  .home #next {
    top: 85%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .home .slide-container .slide .image {
    padding-bottom: 6rem;
  }

  .heading {
    font-size: 3rem;
  }
}
